.header {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}